<h1>Listing talks</h1>

<table>
  <thead>
    <tr>
      <th>Writer</th>
      <th>Nickname</th>
      <th>Content</th>
      <th>Writed date</th>
      <th>Ip address</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.writer_id %></td>
        <td><%= talk.nickname %></td>
        <td><%= talk.content %></td>
        <td><%= talk.writed_date %></td>
        <td><%= talk.ip_address %></td>
        <td><%= talk.owner_id %></td>
        <td><%= link_to 'Show', talk %></td>
        <td><%= link_to 'Edit', edit_talk_path(talk) %></td>
        <td><%= link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_talk_path %>
